.container-navbar {
    width: var(--container-width-lg);
    margin-inline: auto;
}
.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}
.btn.primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.category {
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}
.btn.sm {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
}
.btn.danger {
    background: var(--color-red);
    color: var(--color-white);
}
btn:hover {
    background: var(--color-gray-900);
    color: var(--color-white);
}
/* =================NavBar=========== */

.navbar {
  width: 100vw;
  height: 8rem;
  display: grid;
  place-items: center;
  background-color: rgba(71,99,255, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 4px solid #ccc;
  backdrop-filter: blur(20px);
}

.container-navbar {
  width: 100%px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
}

.nav-logo {
  display: block;
  width: auto;
}

.nav-logo img {
  display: block;
  width: 100px; /* Adjust width as needed */
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  list-style: none;
}

.nav-link {
  color: #eb8768;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #007bff;
}

.nav_togglebtn {
  display: none;
}
