.authors {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.authorsInfo {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 4rem 0;
  border-bottom: 2px solid #e0e0e0;
  width: fit-content;
  margin-inline: auto;
}

.authors_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.author_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s ease;
  width: 100%;
  margin-top: 8rem;
  height: 100%;
  
}

.author_link:hover {
  transform: translateY(-5px);
}

.author_avatar img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.author_info h4 {
  font-size: 2.7rem;
  color: #333;
  margin: 0.3rem 0;
  text-align: center;
}

.author_info p {
  font-size: 2rem;
  color: #777;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .authors_container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .authors {
    padding: 2rem 0;
  }
  
  .authors_container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}