.profile {
  padding: 4rem 2rem;
  background-color: #f4f6f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_container {
  background: #fff;
  padding: 3rem 2rem;
  /* max-width: 700px; */
  width: 25%;
  height: 1200px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem;
  margin: 3rem; */
}

.avatar_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.profile_avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #3934ec;
}

.avatar_form input {
  display: none;
}

.avatar_form label {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: #3934ec;
  color: white;
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.9rem;
}

.profile_avatar_btn {
  margin-top: 1rem;
  background: #28a745;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.profile_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.profile_form input {
  padding: 0.8rem 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 2rem;
  width: 100%;
}

.btn-primary {
  background-color: #3934ec;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 3rem;
}

.btn-primary:hover {
  background-color: #2b28c6;
}

.form_error-messange {
  color: #dc3545;
  font-size: 0.9rem;
  text-align: center;
}
